<style>
    nav {
        background-color: #343a40;
        padding: 10px;
    }

    nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-around;
    }

    nav ul li {
        margin: 0 10px;
    }

    nav ul li a {
        color: #ffffff;
        text-decoration: none;
        padding: 5px 10px;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

    nav ul li a:hover {
        background-color: #495057;
    }

    nav ul li a:visited {
        color: #ffffff;
    }

    nav ul li a:link {
        color: #ffffff;
    }

    @media (max-width: 600px) {
        nav ul {
            flex-direction: column;
            align-items: center;
        }

        nav ul li {
            margin: 5px 0;
        }
    }
</style>
<nav>
    <ul>
        <li><a href="/">FriendEvent</a></li>
        <li><a href="/event">All Events</a></li>
        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>
        {% endif %}
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <li><a href="/participation">All participations</a></li>
            <li><a href="/logout">Logout</a></li>
        {% endif %}
    </ul>
</nav>