<style>
    nav {
        background-color: #f8f9fa;
        padding: 10px;
    }

    nav ul {
        list-style: none;
        padding: 0;
    }

    nav ul li {
        display: inline;
        margin-right: 10px;
    }

    nav ul li a {
        text-decoration: none;
    }

    nav ul li a:hover {
        text-decoration: underline;
    }

    nav ul li a:visited {
        color: black;
    }

    nav ul li a:link {
        color: black;
    }

    @media (max-width: 600px) {
        nav ul li {
            display: block;
        }
    }
</style>
<nav>
    <ul>
        <li><a href="/">FriendEvent</a></li>
        <li><a href="/event">All Events</a></li>
        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>
        {% endif %}
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <li><a href="/participation">All participations</a></li>
            <li><a href="/logout">Logout</a></li>
        {% endif %}
    </ul>
</nav>